.d1{
   width:100vw; 
   height:8vw;
   background-image: linear-gradient(to left,#000000 0%,#1c1c3ef9 50%,#111111);

   
   justify-content: center;
   align-items: center; 
   color: white;
   margin: left -10px;
   display: flex;
}
.body{
    margin:0px;
}
.d2{
   font-size:15px; 
   font-family: "Gotham SSm";
   font-weight: 500;
   
}
.a1{
    font-size:12px; 
   font-family: "Gotham SSm";
   font-weight: 500;
   color: white;
   text-underline-offset:3px;
}

.d3{
   
   
   
   
    font-size:11px; 
    font-family: "Gotham SSm";
    font-weight: 500;
 }

 .d4{
    width:100vw; 
    height:92vw;
    background-color: transparent;
    position: fixed;
}
.img{
    width: 70px;
    margin-left: 35px;
    margin-top:17px;
}
.list1{
   list-style:none;
   margin-left:100px;
   margin-top:-18px;
}
  
.li1{
    color: white;
    font-family: "Gotham SSm";
    font-weight: bold;
    font-size:8px;
    display:inline;
    margin-left:12px;
}
.list2{
    list-style:none;
    margin-left:550px;
    margin-top:-35px;
 }
 .li2{
    color: white;
    font-family: "Gotham SSm";
    font-weight: bold;
    font-size:8px;
    display:inline;
    margin-left:15px;
}

.d5{
     font-family:"Gotham SSm";
     color: white;
     justify-content: center;
     display:flex;
     margin-top:2px;;
     margin-left:-14px;
     font-size: 25px;
     font-weight:450;
}
.d6{
    font-family:"Gotham SSm";
    color: white;
    justify-content: center;
    display:flex;
    margin-top:8px;
    margin-left:-12px;
    font-size: 8px;
    font-weight:500;

}
.d7{
    justify-content: center;
    display:flex;
    margin-top:350px;
}
.btn{
    width: 180px;
    height:35px;
    margin: left -30px;;
    margin-top:-260px;
    background-color: transparent;

     font: size  13px; 
     font-family:"Gotham SSm";
     font-weight:500;
     color: white;

     border-style:solid ;
     border-color:white ;
     border-width:2px;
     border-radius: 4px;

}
.video{
    width: 100vw;
    height: 90vh;
    object-fit: cover;
    position: fixed;
}